{% extends "base.html" %}
{% block metadescription %}Reset Password{% endblock %}
{% block pagetitle %}Request Password Reset{% endblock %}
{% block content %}
<div class="container">
  <form class="form-signin" action="{{ url_for('users.reset') }}" method="POST">
    <div>
      <h1>Email Address:</h1>
    </div>
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.email(placeholder="Enter Email Address", class_="form-control") }}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endblock %}