{% extends "base.html" %}
{% block metadescription %}Reset Password{% endblock %}
{% block pagetitle %}Enter New Password{% endblock %}
{% block content %}
<section id="resetpasswordform"> 
<div class="container">
  <form class="form-signin" action="{{ url_for('users.reset_with_token', token=token) }}" method="POST">
  <div>
    <h1>New Password:</h1>
  </div>
    {{ form.csrf_token }}
  <div class="form-group">
      {{ form.password(placeholder="Enter New Password", class_="form-control") }}
  </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
  </form>
</div>
{% endblock %}