<!DOCTYPE HTML>
<html lang=en>
<head>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<meta name=description content="500 Internal Server Error Page">
<title>500 Internal Server Error</title>
{% assets "main.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
</head>
<body>
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="error-template">
	                <h1>
	                    Oops!</h1>
	                <h2>
	                    500 Server Error</h2>
	                <div class="error-details">
	                    Internal Server Error!
	                </div>
	                <div class="error-actions">
	                    <a href="mailto:" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>
